<div class="container">
	<div class="login_modal">
		<div class="login_close">
			<i class="fa fa-times-circle"></i>
		</div>
		<%= form_for @user, url: sessions_path, html: {class: "login_form"} do |f| %>
		  <%= f.text_field :email, placeholder: "Enter your Email" %>
		  <%= f.password_field :password, placeholder: "Enter your password" %>
		  <%= f.submit "Login", id: "login-button" %>
		  <%=link_to "Forget password?", root_path, id: 'forget-password' %>
		<% end %>	
	</div>
	<% if signed_in? %>
		<div id="clouds">
			<div id="forecast">
				<%= render partial: "ajaxhome", locals: {:user => current_user, :current_weather => current_weather(forecast), :daily_weather => daily_weather(forecast)} %>
			</div>
			<div class="cloud x1"></div>
			<div class="cloud x2"></div>
			<div class="cloud x3"></div>
			<div class="cloud x4"></div>
			<div class="cloud x5"></div>
		</div>
	<% else %>
		<%= render partial: "signup_form" %>
	<% end %>
</div>